@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Eater&family=Flavors&family=Jacques+Francois+Shadow&display=swap');

.section {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 30px;
  }
  .sectionTitle {
    position: relative;
    font-size: var(--h2-font-size);
    color: rgb(255, 0, 242);
    margin: var(--mb-4) 0;
    text-align: center;
    font-family: 'Codystar', 'Jacques Francois Shadow', cursive;
  }
  .sectionTitle::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: black;
  }

/* skills section */
.skillsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
   .skillsName {
    display: inline-block;
    font-size: 20px;
    border: 5px dotted rgb(120, 120, 120);
    border-radius: 45px;
    margin: 10px 10px;
    letter-spacing: .3em;
  }
  .skillsBox span {
    padding: 15px;
    color: #fff;
    text-align: center;
  }
  .img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 10px 10px;
    color: white;
    border-radius: 25%;
  }
  .back {
    margin-top: 30px;
    padding: 10px 20px;
    transition: .2s;
    border: 1px solid rgb(0, 234, 255);
    border-radius: 100px;
  }
  .forward {
    margin-top: 30px;
    transition: .2s;
    border: 1px solid rgb(225, 177, 5);
    border-radius: 100px;
  }
  .forward:hover {
    color: rgb(225, 177, 5);
  }
  .back:hover {
    color: rgb(0, 234, 255);
  }