.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.966), rgba(0, 0, 0, 0.855)), url('/logo.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}