@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Eater&family=Flavors&family=Jacques+Francois+Shadow&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(168, 0, 160);
}
html {
  scroll-behavior: smooth;
  background-color: #000;
}
