/* Pacman's food' */
.ball {
  position: relative;
  left: 130%;
  margin: 65px;
  height: 50px;
  width: 50px;
  background: var(--white-colour);
  border-radius: 50%;
  box-shadow: 0 0 5px var(--white-colour), 0 0 20px var(--white-colour);
  transition: all 2s;
  visibility: hidden;
  } 
  .ball1 {
      animation: hidden1 1.8s forwards;
  }
  .ball2 {
      animation: hidden2 2.2s forwards linear;
  }
  .ball3 {
      animation: hidden3 2.7s forwards linear;
  }
  .ball4 {
      animation: hidden4 3s forwards linear;
  }

  /* ball animation */
  @keyframes hidden1 {
      0% {
          visibility: visible;
      }
      100% {
          visibility: hidden;
      }
  }
  @keyframes hidden2 {
      0% {
          visibility: visible;
      }
      100% {
          visibility: hidden;
      }
  }
  @keyframes hidden3 {
      0% {
          visibility: visible;
      }
      100% {
          visibility: hidden;
      }
  }
  @keyframes hidden4 {
      0% {
          visibility: visible;
      }
      100% {
          visibility: hidden;
      }
  }
  
/* body of pacman */
  .pacman {
      width: 100px;
      height: 100px;
      /* margin: 40px 10px; */
      transform: rotate(85deg);
      position: absolute;
      left: 50%;
      animation: move 8s 1 ease-out;
      animation-direction: forwards;
      transition: all 1s;
      visibility: hidden;
  }

   /* Animation moves pacman from left to right */
  @keyframes move {
      0% {
          top: -100%;
          visibility: visible;

      }
      100% {
          top: 200%;
          visibility: visible;
      }
  }

  .pacmanTop {
      background-color: yellow;
      height: 100px;
      width: 200px;
      border-radius: 100px 100px 0 0;
      animation: spin .7s infinite linear;
      display: hidden;
      box-shadow: 0 0 10px yellow, 0 0 30px yellow;
  }

  .pacmanBottom {
      background-color: yellow;
      height: 100px;
      width: 200px;
      border-radius: 0 0 100px 100px;
      display: hidden;
      animation: spin2 .7s infinite linear;
      box-shadow: 0 0 10px yellow, 0 0 30px yellow;
  }

  /* Moves pacmans mouth */
  @keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      50% {
          transform: rotate(-35deg);
      }
  }
  @keyframes spin2 {
      0% {
          transform: rotate(0deg);
      }
      50% {
          transform: rotate(35deg);
      }
  }
 
  